@import "tailwindcss";

@theme {
  --color-components-panel-bg: #ffffff;
  --color-components-panel-border: #e2e8f0;
  --color-components-button-secondary-border: #e2e8f0;
  --color-components-button-secondary-bg: #ffffff;
  --color-text-secondary: #64748b;
  --color-state-base-hover: #f1f5f9;
  --color-divider-regular: #cbd5e1;
  --color-components-button-primary-bg: #2563eb;
  --color-components-button-primary-hover: #1d4ed8;
  --color-components-button-primary-text: #ffffff;
  --color-components-actionbar-bg: rgb(255 255 255 / 0.95);
  --color-components-actionbar-border: rgb(16 24 40 / 0.04);
  --color-state-accent-active: rgb(21 90 239 / 0.08);
  --color-text-accent: #155aef;
  --color-text-tertiary: #475467;
  --color-text-primary: #101828;
  --color-background-section-burn: #f5f7f9;
  --color-text-disabled: #98a2b3;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0f172a;
  background-color: #f8fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  font-family: inherit;
}

/* Custom Node Styles */
.custom-node.selected {
  border-color: #2563eb !important;
}