@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.btn-spinner {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: currentColor;
    animation: spinner .6s linear infinite;
}